# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
.vscode/
*.swp
.DS_Store

# Env
.env
.env.local
.env.development
.env.test
.env.production

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
MIGRATIONS.md
